# Autodetect text files
* text=auto

# Scripts must be in their native format
*.bat       eol=crlf
*.sh        eol=lf

# Common text files in lf style
*.py        eol=lf
*.txt       eol=lf
*.md        eol=lf
